 html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
 }

 h1 {
    font-size: 44px;
    margin-block-start: 0;
    margin-block-end: 0;
 }

 h2 {
    font-size: 36px;
    margin-block-start: 0;
    margin-block-end: 0;
 }

 h3 {
    font-size: 28px;
    margin-block-start: 0;
    margin-block-end: 0;
 }
 
 h4 {
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
 }

 h5 {
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
 }

 h6 {
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
 }

 ul {
    list-style: none;
    padding-inline-start: 0;
 }

 p {
    font-family: serif;
    margin-block-start: 0;
    margin-block-end: 0;
 }

 .main{
    position: relative;
    top: 64px;
    width: 100%;
 }

 .flex {
    display: flex;
 }

 .flex-column {
    display: flex;
    flex-direction: column;
 }
 
 .align-center {
    align-items: center;
 }
 
 .large-info {
    width: 60%;
    margin: 32px 24px;
 }

 .large-image img, 
 .large-image video {
    width: 100%;
 }

 .small-info {
    width: 40%;
    padding-top: 16px;
 }

 .small-block .flex-column,
 .hero .flex-column {
    justify-content: center;
 }

 .small-block .flex-column {
    width: 65%;
 }
 
 .small-image {
    width: 35%;
    margin: 16px;
 }

 .small-image img {
    width: 100%;
    height: auto;
 }

 .small-block p {
    margin: 8px 0;
 }

 /* Header */
  header{
    height: 64px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: white;
  }
  
  header div.flex {
    flex-grow: 1;
  }

  header .desktop img {
    height: 32px;
    width: auto;
    margin-left: 24px;
  }

  header span {
    font-size: 20px;
  }

  nav.desktop {
    margin-right: 16px;
  }

  .desktop ul li {
    padding: 0 8px;
  }

  .mobile {
    display: none;
  }
  
  @media only screen and (max-width: 500px) {
    .mobile {
        display: block;
        width: 100%;
    }

    .mobile .flex {
        justify-content: space-around;
    }

    .desktop {
        display: none;
    }
  }

  /* Hero Section */
  .hero {
    background-color: lightgray;
  }

  .hero h1, .hero h4 {
    padding-right: 32px;
    padding-bottom: 24px;
  }

  .hero h4{
    font-family: serif;
  }

  .hero h5 {
    background-color: dimgray;
    color: white;
    padding: 8px 0;
    text-align: center;
    max-width: 80%;
  }
  
  .hero h5:hover {
    background-color: grey;
  }

  @media only screen and  (max-width: 880px) {
    .hero {
        flex-direction: column;
    } 

    .hero .large-info {
        width: 100%;
        margin: 0 0 32px 0;
    }
    
    .hero .small-info {
        width: auto;
        padding-top: 0;
        margin: 0 16px;
    }

    .hero h1 {
        padding-bottom: 32px;
    }

    .hero h5 {
        align-self: center;
        max-width: 100%;
        width: 100%;
        margin-bottom: 32px;
    }
  }

  /* Information section */
  
  .information .small-info {
    border-left: 1px solid lightgray ;
  }

  .information .small-block {
    border-bottom: 1px solid lightgray;
  }

  .mobile-image {
    display: none;
  }

  .information h2 {
    padding: 32px 0 24px 0;
  }

  .information h6 {
    padding-top: 32px;
  }

  .information span {
    font-family: serif;
    color: blue;
  }

  .small-block:hover {
    background-color: lightgray;
  }
  
  @media only screen and (max-width: 880px) {
    .information .large-info {
        display: none;
    }

    .information .small-image {
        display: none;
    }
    
    .information .small-info {
        width: 100%;
        padding: 0;
    }
    .information .small-block {
        border-bottom: none;
        margin: 0 auto;
    }

    .small-block .flex-column {
        width: auto;
        padding: 0 16px 32px 16px;
    }
    
    .information img {
        max-width: 576px;
        width: 100%;
        height: auto;
        padding: 1rem 0;
        flex-shrink: 1;
      }

    .mobile-image {
        display: block;
    }

    .information h4, .information p, .information span {
        padding-left: 16px;
    }
  }

  /* course section */

  .course {
    background-color: lightgray;
  }

  .course h2 {
    padding-top: 32px;
    text-align: center;
  }

 .subjects {
    padding:16px 56px 16px 56px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
 }

 .subject {
    max-width: 450px;
    margin: 16px;
    background-color: white;
 }

 .subject img{
    max-width: 100%;
    height: auto;
 }

 .subject-info {
    padding: 16px;
 }

.subject-info span {
    padding: 8px 0;
    display: block;
 }

 .subject-info p {
    padding-bottom: 8px;
 }

    @media only screen  and  (max-width: 500px){
        .course {
        background-color: white;
        border-top: 1px solid lightgray;
        border-bottom:1 px solid lightgray ;
        }
    
        .course h2 {
        margin-bottom: 8px;
        }

        .subject img, .subject span, .subject p {
        display: none;
        }

        .subjects {
        width: 100%;
        padding: 0;
        flex-direction: column;
        margin-bottom: x;
        }

        .subject {
        max-width: 100%;
        width: 100%;
        margin: 0;
        }

        .subject-info {
        margin:8px 16px;
        background-color: lightgray;
        }
    }

    /* Thesis section */

 .thesis {
    border-bottom:1px solid lightgray ;
 }

 .thesis h2 {
        padding-top: 32px;
        text-align: center;
 }
 .large-info h3{
        padding:24px 0 8px;
 }

 @media only screen and (max-width: 500px) {
    .thesis .small-info {
            display: none;
    }
    .thesis .large-info {
            width: 100%;
            margin: 16px 0 24px 0;
    }

    .thesis h3, .thesis p {
            display: none;
    }
 }

 /*footer section */
 footer {
    padding: 16px 24px;
    justify-content: space-between;
    margin-bottom: 32px;
 }

 footer h6 {
    font-weight: normal;
 }

 footer li {
    padding: 0 8px;
 }

 @media only screen and (max-width: 500px) {
    footer li {
        display: none;
    }
    footer {
        margin-bottom: 0;
    }
 }


 